.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.content {
  max-width: 480px;
  width: calc(100vw - 10px);
  margin: 20px auto;
  padding: 40px;
  background: #fff;
}

.close {
  border: none;
  background: #9fa628;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}
