body,
html {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.button {
  border: none;
  background: #9fa628;
  color: #fff;
  padding: 10px;
  font-size: 15px;
}

.panel {
  width: 100%;
  height: 40px;
  display: flex;
  background: #9fa628;
  font-size: 15px;
  color: #fff;
  padding: 10px 20px;
  align-items: center;
}

.input {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 15px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
